.card-detail {
    display: flex !important;
    flex-direction: row;
    height: 27rem;
    border: none !important ;
    width: 60%;
    align-items: center;
    margin-left: 1em;
}
.card-detail img{
    width: 12rem;
}